# Ignore SQLite database
data/store.db
/dist/
/build/
!static/dist/
# Python bytecode/caches
__pycache__/
*.py[cod]
*$py.class

# Environment & Secrets
.env
.env.local
.env.*.local

# Node dependencies
node_modules/
npm-debug.log*

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
